/* @import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
root {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-text-color: #212121;
  --secondary-text-color: #212121;
  --accent-color: #8800c7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-text-color);
}
p{
  color: var(--secondary-text-color);
}
a{
  text-decoration: none;
  color: white;
}

.container {
  /* Left_Right, Top_Bottom */
/* margin: 0 auto;/ */
/* max-width: 1200px; */
/* Left_Right, Top_Bottom */
/* padding: 0 20px; */
/* overflow: hidden; */
/* } */
/* */
